{% load staticfiles%}
<!doctype html>
<html lang="en">
  <head><title>Documents</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<link rel="stylesheet" href="{% static 'abc.css'%}">

</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-info" >

    <a class="navbar-brand" href="/homepage/" ><img src="{% static 'images/LOGO.png'%}" style="display: inline-block;height:32px;width:32px" style="color:white;font-family: 'Chakra Petch', sans-serif;"><strong>Ritik Arora</strong></a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
   <div class="navbar-nav ml-auto">
     <a class="nav-item nav-link active" href="/projects/" style="color:white;font-family: 'Chakra Petch', sans-serif;">Projects</a>

     <a class="nav-item nav-link active" href="/resume/" style="color:white;font-family: 'Chakra Petch', sans-serif;">Resume</a>

   </div>
 </div>

</nav>
<body>
  <div class="container">
    <div class="page-header">
      <h3>Little About Me
    </div>
    <div class="jumbotron">
  <div class="row">
<div class="col">
<img src="me.png" class="circle pull-right" alt="me" height="200px" width="200px"><p>Hi, I am Ritik Arora. I'm pursuing b.tech from MDU University in Computer Science and tecnology. I did my schooling from CBSE board. I'm born and raised in New Delhi, India. I love programming and i am good in java, python and django. I'm self learner . I learnt all the skills that i have by my own. I am currently looking for an internship to sharpen my skills and to prove myself.</p>
<p>My hobbies are gymming, bike riding and ofcourse programming. Most of the time I spent either learning new technologies or building projects for enhance my programming skills. My strenths are that I"m   &nbsp;  1.) Puntual 2.) Honest and 3.) adaptive <br> My weakness is that I am shy and Never say no to people who ask for help.</p>
</div>
</div>
</div>


<div class="footer">
  <div class="row">
<div class="col-xs-4 col-md-8">
<strong>   <i class="fa fa-phone"></i>
   <span >+91 8287969097</span><br>
  <i class="fa fa-map-marker"></i>
					<span>New Delhi</span> India</strong>
</div>
<div class="col-xs-8 col-md-4">
  <strong>
<i class="fa fa-envelope"></i><span>     Ritickarora.123@gmail.com</span><br>
<a href="https://www.linkedin.com/in/akshay-arora-29158b140/"><i class="fa fa-linkedin"></i></a>&nbsp;&nbsp;<span>&nbsp;LinkedIn</span></a>&nbsp;
<a href="https://www.facebook.com/cool.a.arora"  ><i class="fa fa-facebook" ></i><span>&nbsp;&nbsp;facebook</span></a></strong>
</div>
</div>
</div>
</body>
</html>
